@import 'reset';

html {
  height: 45px;
  background-color: transparent;
  overflow: hidden;
}

body {
  background-color: transparent;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 45px;
  font-size: 14px;
}

input {
  width: 100%;
  text-overflow:ellipsis;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
}

$blue-color: rgba(#086dd6, 0.5);

.circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 4px;
  background: $blue-color;
  vertical-align: middle;
}

.associates {
  margin-top: 6px;
  .empty {
    opacity: 0.1;
  }
  .associate {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    .title {
      display: inline-block;
    }
    .circle {
      background-color: $blue-color;
    }
  }
}

.results {
  background-color: white;
  border: 1px solid rgba(gray, 0.2);
  border-radius: 4px;

  .result {
    padding: 2px 10px;
    cursor: pointer;
    height: 22px;
    padding-top: 10px;

    &.highlighted {
      background-color: rgba(gray, 0.1);
    }

    .title {
      display: inline-block;
    }
  }
}
