%input{"type" => "text", "placeholder" => "Enter tags", "ng-model" => "formData.input", "ng-change" => "tagsInputChange($event)"}

.associates
  .associate{"ng-repeat" => "tag in activeTags", "ng-click" => "removeActiveTag(tag)"}
    .circle
    .title {{tag.content.title}}

.results{"ng-if" => "formData.showAutocomplete"}
  .result{"ng-repeat" => "tag in results", "ng-click" => "selectedTag(tag)"}
    .circle
    .title {{tag.content.title}}
